:root {
  --card-shadow: 0px 32px 9px 0px rgba(28, 43, 64, 0), 0px 21px 8px 0px rgba(28, 43, 64, 0),
    0px 12px 7px 0px rgba(28, 43, 64, 0.01), 0px 5px 5px 0px rgba(28, 43, 64, 0.02),
    0px 1px 3px 0px rgba(28, 43, 64, 0.02);
}

html {
  font-size: 16px;
}

.lock {
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-width: 360px;
  color: var(--p-text-color);
  background: var(--p-content-background);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --p-avatar-background: var(--p-button-secondary-background);
}
