@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@vue-flow/core@1.42.1/dist/style.css');
@import url('https://cdn.jsdelivr.net/npm/@vue-flow/core@1.42.1/dist/theme-default.css');
@import './null.css';
@import './theme/light-theme.css';
@import './theme/dark-theme.css';
@import './base.css';
@import './vue-flow.css';
@import './scalar.css';

.divider {
  height: 1px;
  background-color: var(--p-divider-border-color);
}

.main-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.48px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.sub-title {
  line-height: 1.5;
}

.w-full {
  width: 100%;
}

.link {
  color: var(--p-text-link-color);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.p-filled:disabled {
  background-color: var(--p-inputtext-disabled-background) !important;
}

.input-wrapper:has(.p-filled) .label {
  opacity: 0;
}

.input-wrapper:has(input:focus) .label {
  opacity: 1;
}

.p-floatlabel label {
  font-size: 0.875rem;
}

.p-menu-item-link {
  width: 100%;
}

.p-avatar img {
  object-fit: cover;
}

.p-datatable-tbody .p-row-even {
  background-color: var(--p-card-background);
}

.table-white .p-datatable-tbody > tr {
  background-color: var(--p-card-background);
}

.p-dialog-mask:has(.modal-transparent-mask) {
  background-color: transparent !important;
}

.p-tooltip {
  font-size: 14px;
}

.p-button {
  font-size: 14px !important;
  font-weight: 500;
}

.p-inputtext {
  font-size: 16px;
}

.bar-label {
  fill: var(--p-text-color);
}

.p-toast {
  top: 80px !important;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .main-title {
    font-size: 22px;
  }

  .p-toast {
    right: 5px !important;
  }
}

.p-select-list-container {
  font-size: 14px;
}

.popover-without-arrow::before,
.popover-without-arrow::after {
  display: none !important;
}

.p-dialog-content {
  flex: 1 1 auto;
}

.p-dialog-footer.organization-edit-footer {
  justify-content: space-between;
}

.p-avatar {
  background:
    linear-gradient(226deg, #add8fb 28%, #dfa3f0 98.72%),
    linear-gradient(226deg, #dfa3f0 28%, #add8fb 98.72%) !important;
}

[data-theme='dark'] .p-avatar {
  background: linear-gradient(42deg, #2673fd 15.39%, #828bf7 61.22%, #dfa3f0 97.28%) !important;
}

.label.required::after {
  content: ' *';
  color: var(--p-badge-danger-background);
}
.p-autocomplete-token,
.p-chip {
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.p-autocomplete-token .p-icon,
.p-chip .p-icon {
  flex-shrink: 0;
}
