name: Tests and Linters

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'frontend/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      
      - name: Install dependencies
        working-directory: frontend
        run: npm install
      
      - name: Run linting (non-blocking)
        working-directory: frontend
        run: npm run lint
        continue-on-error: true

      - name: Run Prettier (non-blocking)
        working-directory: frontend
        run: npm run format:check
        continue-on-error: true
      
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      
      - name: Install dependencies
        working-directory: frontend
        run: npm install

      - name: Ensure rollup binaries
        working-directory: frontend
        run: npm install rollup --force
      
      - name: Run tests
        working-directory: frontend
        run: npm run test:ci
