name: Build and Deploy Vue App

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'frontend/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      
      - name: Install dependencies
        working-directory: frontend
        run: npm install
      
      - name: Run linting (non-blocking)
        working-directory: frontend
        run: npm run lint
        continue-on-error: true

      - name: Run Prettier (non-blocking)
        working-directory: frontend
        run: npm run format:check
        continue-on-error: true
      
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      
      - name: Install dependencies
        working-directory: frontend
        run: npm install
      
      - name: Run tests
        working-directory: frontend
        run: npm run test:ci


  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        working-directory: frontend
        run: npm install

      - name: Build Vue app
        working-directory: frontend
        run: npm run build

      - name: Start SSH Agent and add key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSHKEY }}

      - name: Clear Target Directory on Server
        run: ssh -o StrictHostKeyChecking=no -p 22 ${{ secrets.USERNAME }}@${{ secrets.HOST }} 'sudo rm -rf /var/www/dev.dataforce.studio/*'

      - name: Copy files via rsync
        run: |
          rsync -avz -e "ssh -o StrictHostKeyChecking=no -p 22" frontend/dist/* ${{ secrets.USERNAME }}@${{ secrets.HOST }}:/var/www/dev.dataforce.studio

      - name: Restart nginx
        run: ssh -o StrictHostKeyChecking=no -p 22 ${{ secrets.USERNAME }}@${{ secrets.HOST }} 'sudo systemctl restart nginx'
